.card {
}
.cardTitle {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
}
.cardText {
  text-decoration: none;
  margin-bottom: 1.5rem;
}
.imageWrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  & img {
    width: 100%;
  }
}